:local {
  .task-list {
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    &:hover,
    &.editing {
      background: rgb(211, 211, 211);
    }
  }

  .content {
    flex: 1;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    padding: 16px 0;
    word-break: break-word;
    word-wrap: break-word;
  }

  .time {
    position: absolute;
    right: 16px;
    top: 4px;
    color: grey;
    font-size: 9px;
  }

  .actions {
    text-align: right;
    right: 0;
  }
}