:local {
  .pagination {
    padding: 12px;
    text-align: center;
  }

  .page-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .total {
    white-space: nowrap;
    color: grey;
    font-size: 0.8rem;
    text-align: right;
  }
}
