:local {
  @addButtonSize: 32px;

  .app {
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
  }

  .title {
    display: inline-block;
  }

  .inner {
    max-width: 480px;
    margin: auto;
  }

  .field {
    padding: 0 8px;
    display: flex;
    align-items: center;
  }

  .add {
    width: @addButtonSize !important;
    height: @addButtonSize !important;
  }
}
